@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --dark_text: rgb(71, 85, 105);
  --light_text: rgba(71, 85, 105, 0.7);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-dots button:before {
  margin-top: 1rem;
  font-size: 1rem !important;
  color:var(--light_text) !important;
}
.slick-dots li.slick-active button:before {
  color:var(--dark_text) !important;
}